<!--
  Generated template for the OrgGroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{organization.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-list-header>
      Groups
      <ion-icon name='add' item-end (tap)="addGroup()"></ion-icon>
    </ion-list-header>

    <ion-item *ngFor="let group of subOrgGroups | async">
      {{group.title}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      People
      <ion-icon name='add' item-end (tap)="addPerson()"></ion-icon>
    </ion-list-header>

    <ion-item *ngFor="let person of subOrgPeople | async">
      {{person.firstName}} {{person.lastName}}
    </ion-item>
  </ion-list>

</ion-content>
