<!--
  Generated template for the PersonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{personObject.$value}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid *ngIf="((person | async)?.timesPresent + (person | async)?.timesAbsent) > 0">
    <ion-row margin-top text-center>
      <ion-col no-padding>
        <h2 no-margin>Attendance {{(person | async)?.timesPresent / ((person | async)?.timesPresent + (person | async)?.timesAbsent) |
          percent:'1.0-0'}}
        </h2>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col no-padding>
        <p no-margin>Present {{(person | async)?.timesPresent}} &bull; Absent {{(person | async)?.timesAbsent}}</p>
      </ion-col>
    </ion-row>

    <pie-chart [view]="view" [data]="data"></pie-chart>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      Attendance
    </ion-list-header>

    <ion-item *ngFor="let info of attendance">
      <ion-icon *ngIf="info.attended" name='checkmark' item-start></ion-icon>
      <ion-icon *ngIf="!info.attended" name='close' item-start></ion-icon>
      <ion-label>
        {{info.description}}
      </ion-label>
      <ion-note item-end>
        {{info.created | date:'MM/dd/yy'}}
      </ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="((person | async)?.timesPresent + (person | async)?.timesAbsent) === 0" margin text-center>
    <p>No attendance for {{personObject.$value}}</p>
  </div>
</ion-content>
