<!--
  Generated template for the OrganizationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="cyan"></ion-icon>
    </button>
    <ion-title>Organizations</ion-title>
    <ion-buttons end>
      <button *ngIf="(firebase.userOrganizations() | async)?.length > 0" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div *ngIf="(firebase.userOrganizations() | async)?.length > 0">
    <ion-list>
      <ion-item-sliding *ngFor="let organization of firebase.userOrganizations() | async" (tap)="details(organization)">
        <ion-item>
          <h2>{{organization.$value}}</h2>
        </ion-item>
        <ion-item-options side="right" (ionSwipe)="delete(organization)">
          <button ion-button expandable color="primary" (click)="edit(organization)">
            <ion-icon name="md-create"></ion-icon>
            Edit
          </button>
          <button ion-button expandable color="danger" (click)="delete(organization)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div *ngIf="(firebase.userOrganizations() | async)?.length === 0" margin text-center>
    <p>Get started by creating an organization</p>
    <button margin-top (tap)="addOrganization($event)" ion-button round full>Create Organization</button>
  </div>
  <div *ngIf="!(firebase.userOrganizations() | async)" margin text-center>
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
